.cover {
  padding: 250px;
  background-color: #222;
  background-image: url('http://vita.disk/files/878/903/photo_2023-03-14_16-52-32.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: end;
  justify-content: center;
  justify-items: center;
  gap: 15px;
}

.dateShooting {
  font-size: 18px;
  color: #fff;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.container {
  display: grid;
  gap: 20px;
  @media (min-width: 768px) {
    padding: 50px;
  }
}
