.body {
  list-style: none;
  display: grid;
  gap: 20px;
}

.row {
  display: grid;
  grid-template-columns:
    40px minmax(200px, 2.5fr) 120px minmax(140px, 1fr)
    100px;
  align-items: center;
  gap: 20px;
}
