.btn {
  font: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.container {
  position: relative;
  justify-self: center;
}

.list {
  position: absolute;
  display: block;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(#000, 0.06);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.item {
  padding: 15px 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
  font: inherit;
}

.itemActive {
  background-color: #eee;
}
