.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font: inherit;
}

.container {
  position: relative;
  margin-left: auto;
}
