.project {
  display: grid;
  grid-template-columns: min-content 20px max-content 20px 1fr;
  grid-template-areas:
    'img . title title title'
    'img . date dot files';
  align-items: center;
}

.imgLink {
  grid-area: img;
  display: block;
  width: 60px;
  height: 60px;
}

.projectImg {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.projectTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleLink {
  grid-area: title;
  text-decoration: none;
  align-self: end;
}

.projectDateCreate {
  grid-area: date;
}

.projectDot {
  grid-area: dot;
  justify-self: center;
}

.projectFiles {
  grid-area: files;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      width: 17px;
      height: 17px;
    }
  }
}
