.folderList {
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.folderItem {
  display: grid;
  grid-template-columns: 1fr 50px;
  border: 1px solid #eee;
  background-color: var(--background-color);
  border-radius: 5px;

  a {
    padding: 20px;
    text-decoration: none;
    color: var(--color-text);
  }
}

.addBtn {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 30px;
  cursor: pointer;
  font: inherit;
}
